.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem auto;
    text-decoration: none;
    width: 70%;
}
.home a{
    width: 100%;
}
.content{
    min-height: 100vh;
}
button{
    width: 100%;
}
.txtHome{
    margin-top: 5rem;
    font-weight: 500;
    font-size: .9rem;
}